*,*::before,*::after{
    box-sizing:border-box;
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    border:1px solid yellow;
    /* background-color: #000; */
    /* color:#fff; */
}

.header{
    display:flex;
}

.header > *{
border:1px solid red;
flex:1;
}

header a{
 /* color:#fff; */
 text-decoration: none;
}

.header-icon-title{
    display:flex;
    justify-content: flex-start;
    gap:1rem;
}

.header-btm{
    display:flex;
    justify-content: flex-end;
    gap:1rem;
}

.submit-request{
    background-color: #000000c5;
    color:aliceblue;
    padding: 0.5em;
    border-radius:10px;
}

.sign-in{
    background-color: blue;
    border:1px solid whitesmoke;
    color:aliceblue;
    padding:0.5rem;
    border-radius: 10px;;
}

.sign-in:hover{
    background-color: #fff;
    color:#000;
}
/*Utility Class*/

.container{
    width:90%;
    margin-inline: auto;
}
