/* header styles */
.header{
   background-color: black;
   color:white;
   font-size:1.5rem;
   display:flex;
   align-items: center;
   padding:2.6rem 1.4rem;
}

.header a{
   color:white;
   font-size:1.5rem;
   text-decoration: none;
}

.header > *{
   /* flex:1; */
   /* border:1px solid red; */
}

/* header-icon-title styles */

.header-icon-title{
   display:flex;
   justify-content: start;
   align-items: center;
   flex:2;
   gap:0.3rem;
}

.header-icon-title > a{
   border:3px solid white;
   padding-left:0.3rem;
   border-right:transparent;
   border-top: transparent;
   border-bottom: transparent;
}


/* abstract logo style */
.logo{
   display:flex;
   align-items: center;
   gap:0.4rem;
}
.logo img{
 width:9vw;
 height:9vw;
 object-fit: contain;
 border-radius: 15px;
}

.logo a{
   font-size:inherit;
}

/* header-bars */

.header-bars{
   flex:1;
display:flex;
justify-content: end;
gap:0.5rem;
}

/* drop-down menu styling */
.dorpdown{
   border:1px solid red;
}

.dropdown:hover menu{
   display: block;
}

.dropdown:hover .menu a{  /* Corrected class name and removed nesting */
      color:red;
   cursor: pointer;
 }

.menu ul{
   list-style: none;
}

.menu a{
   display:block;
   color:white;
   text-decoration: none;
}

.menu{
   /* border:1px solid red; */
   display: none;
   background-color: black;
   position:relative;
   font-size:2.8rem;
   width:100%;
   text-align: center;
}

 

/*
xs
@media (max-width:475px){
   .container {
      max-width:475px;
   }
}
sm

@media (min-width:645px) {
   .container {
      max-width: 645px;
   }
}

md
@media (min-width:768px) {
   .container {
      max-width: 768px;
   }
}

lg

@media (min-width:1024px) {
   .container {
      max-width: 1024px;
   }
}

xl

@media (min-width:1280px) {
   .container {
      max-width: 1280px;
   }
}

2xl

@media (min-width:1536px) {
   .container {
      max-width: 1536px;
   }
} 
 */
